<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="EnrollInEngagementPlan.ShowOnlyChildren" value="true"/>
      <setting name="EnrollInEngagementPlan.DoNotShowFolder" value="/sitecore/system/Marketing Control Panel/Engagement Plans/Email Campaign" />
    </settings>
    <ui>
      <references>
        <reference>/bin/Sitecore.Support.67104.171855.dll</reference>
      </references>
    </ui>
  </sitecore>
</configuration>